@import "tailwindcss";

.text-glow-cyan {
    text-shadow: rgba(0, 240, 255, 0.5) 0px 0px 10px;
}
.text-neon-cyan {
    --tw-text-opacity: 1;
    color: rgb(0 240 255 / var(--tw-text-opacity, 1));
}
.bg-neon-cyan {
    --tw-text-opacity: 1;
    background-color: rgb(0 240 255 / var(--tw-text-opacity, 1));
}
.bg-neon-green\/10 {
    background-color: rgba(0, 255, 136, 0.1);
}
.border-neon-green\/20 {
    border-color: rgba(0, 255, 136, 0.2);
}
.bg-neon-green {
    --tw-bg-opacity: 1;
    background-color: rgb(0 255 136 / var(--tw-bg-opacity, 1));
}
.text-neon-green {
    --tw-text-opacity: 1;
    color: rgb(0 255 136 / var(--tw-text-opacity, 1));
}
.bg-background\/50 {
    background-color: #0a0a0f80;
}
.bg-background {
    --tw-bg-opacity: 1;
    background-color: rgb(10 10 15 / var(--tw-bg-opacity, 1));
}